<label class="label--subtle form__label">{{label}}</label>

{{#wu-button-group isInline=true class="button-group__inline--small"}}
  {{wu-button label="Alle meldingen" onClick=(action "resetFilter") class=(if (not isFilterEnabled) 'button--active') isAlt=true isSmall=true isNarrow=true}}
  {{wu-button label="Specifieke periode" onClick=(action "initRangeFilter") class=(if isFilterEnabled 'button--active') isAlt=true isSmall=true isNarrow=true}}
{{/wu-button-group}}

{{#if isFilterEnabled}}
  <div class="accordion__content">
    {{wu-date-range fromValue=_fromDate toValue=_toDate fromPlaceholder="01.01.2012" fromMinDate="01.01.2012" fromMaxDate="01.01.2050" toPlaceholder="01.01.2019" toMinDate="01.01.2012" toMaxDate="01.01.2050"}}
  </div>
{{/if}}
