<div class="u-display--inline-block u-padding--right--small">
  <div class="checkbox--switch__wrapper checkbox--switch--small">
    {{input class="checkbox--switch" type="checkbox" id="toggle-1" name="toggle" checked=isChecked click=(action "setToTreatStatus") }}
    <label class="checkbox--switch__label" for="toggle-1"></label>
    <span>Toon enkel te behandelen dossiers</span>
  </div>
</div>
