/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

// Fix ACMIDM login alerts in header
// @TODO: remove this once we update to ember-acmidm v2
.au-c-main-header__actions .au-c-alert {
  position: absolute;
  right: $au-unit-small + $au-unit-tiny;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

/* ==========================================================================
  Manage responsiveness
  // make into an accordion
  ========================================================================== */

.au-c-main-container__content.au-c-main-container__content--scroll {
  height: calc(100vh - 4.2rem); // make sure scrolling happens as anticipated on medium sizes

  @include mq($until: small) { // make sure you can scroll through everything in firefox on small sizes
    .au-o-grid--fixed,
    .au-o-grid--fixed > .au-o-grid__item {
      height: auto;
      overflow: auto;
    }
  }

  @include mq($from: small) { // make sure grid looks good when stacked, too much spacing

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item:first-child {
      padding-bottom: 0
    }

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item + .au-o-grid__item {
      padding-top: 0;
    }

  }
}

// "InfiniteSelect" component (this component should be made more generic and moved somewhere reusable)
.infinite-select-options {
  // Copied from ember-appuniversum: https://github.com/appuniversum/ember-appuniversum/blob/09fbccfa34190ab9552f42572d783d35e6925ad6/app/styles/ember-appuniversum/_p-ember-power-select.scss#L421-L424
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @if unitless($ember-power-select-line-height) {
    max-height: #{$ember-power-select-number-of-visible-options * $ember-power-select-line-height}em;
  } @else {
    max-height: $ember-power-select-number-of-visible-options * $ember-power-select-line-height;
  }

  .ember-power-select-options {
    max-height: none;
  }
}
