/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==========================================================================
  Form fixes
 ========================================================================== */

/* Style power select sizes */

.ember-power-select-multiple-option {
  align-items: normal;
  white-space: normal;
  height: auto;
  min-height: $au-unit;
}

.ember-power-select-multiple-remove-btn {
  height: auto;
}

.ember-power-select--small .ember-power-select-trigger.ember-power-select-multiple-trigger {
  max-height: 6rem;
  overflow: auto;
}

/* Date range; fix webuniversum */

.date-range__group {
  width: 100%;
  float: none;
  margin: $au-unit-small 0;
}

.date-range__group+.date-range__group {
  margin-left: 0;
}

.date-range__label {
  width: 4rem;
}

/* Date range; todo appuniversum*/

.au-c-button.au-c-button--active {
  background-color: $au-gray-200;
}

.au-c-button-group.au-c-button-group--inline > .au-c-button {
  margin-top: 0;
  margin-right: -1px;
  float: left;
}

/* Fix checkbox disabled state in alert  TODO: Fix in appuniversum? */

.checkbox--disabled .checkbox__toggle+span {
  background-color: $au-gray-300;
}

/* ==========================================================================
  utilities
 ========================================================================== */

/* todo: Fix in colapse-elapse component and tile */

.au-c-hr {
  margin: $au-unit 0;
  border: none;
  border-bottom: 1px solid $au-gray-300;
}

// Fix ACMIDM login alerts/loading in header
// @TODO: rework ACMIDM components to work with appuniversum classes
.au-c-main-header__actions .alert {
  position: absolute;
  right: $au-unit-small;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .u-padding--round--small {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - $au-unit-tiny/2;
  padding: 0;
  background-color: $au-white;

  .loader-wrapper {
    padding: 0;
  }
}

/* ==========================================================================
  Tooltips
  TODO rework and put in ember-appuniversum
  ========================================================================== */

.au-c-tooltip-container {
  position: relative;
}

[role="tooltip"] {
  margin-top: $au-unit-small;
  position: absolute;
  display: none;
  transition: opacity $au-transition;
  color: $au-gray-700;
  background-color: $au-gray-200;
  padding: $au-unit-tiny $au-unit-small;
  border-radius: .3rem;
  z-index: 3;
  max-width: $au-unit * 10;
  opacity: 0;
  box-shadow: .5rem .5rem .5rem $au-gray-100;

  &:after {
    content: " ";
    position: absolute;
    top: -.5rem;
    left: $au-unit-small;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid $au-gray-200;
  }
}

.au-c-button.au-c-button--tooltip {
  position: relative;
  padding: $au-unit-tiny 0 0;
  color: $au-gray-700;
  border-bottom: 1px dotted $au-gray-700;

  &:hover + [role="tooltip"],
  &:focus + [role="tooltip"] {
    display: block;
    opacity: 1
  }
}

/* ==================================
  #IE 11 appuniversum fixes
  @TODO: update in appuniversum
  ================================== */

.au-c-alert__content {
  display: block;
}

div:focus,
span:focus,
table:focus,
td:focus {
  outline: 0 !important;
}

.checkbox + .au-c-label {
  display: inline-block;
}

/* ==================================
  Scrollable sidebar footer on medium sizes and up
  TODO: rework and port to ember-appuniversum
  ================================== */

@include mq($from: small) {
  .au-c-sidebar {
    overflow: hidden;
  }

  .au-c-sidebar__content {
    flex-grow: 2;
    overflow: auto;
  }

  .au-c-sidebar__footer {
    border-top: 1px solid $au-gray-300;
    flex-grow: 1;
  }
}

/* ==========================================================================
  Adapt data-table to toezicht layout; more compact
  TODO: create au-c-data-table--compact version
  ========================================================================== */

  .au-c-data-table__table {
    min-width: 50rem;
  }

  .au-c-data-table__table th:first-child,
  .au-c-data-table__table td:first-child {
    padding-left: 1rem;
  }

  .au-c-data-table__table th,
  .au-c-data-table__table td {
    padding: 0.6rem 0.5rem 0.6rem 1rem;
  }

.au-c-main-container__content + .au-c-main-container__sidebar {
  border-left: 1px solid $au-sidebar-border;
}

/* ==================================
  #BODY CONTAINER
  Handle scroll in application details
  TODO create in ember-appuniversum
  ================================== */

// Body container draft component
.au-c-body-container {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.au-c-body-container--scroll {
  overflow: auto;
}

/* ==========================================================================
  #ACTION SIDEBAR
  TODO create in ember-appuniversum
  ========================================================================== */

.au-c-action-sidebar {
  border-left: .1rem solid $au-sidebar-border;
}

.au-c-action-sidebar__header {
  border-bottom: .1rem solid $au-sidebar-border;
}

.au-c-action-sidebar__footer {
  border-top: .1rem solid $au-sidebar-border;
}







/* ==========================================================================
  Manage responsiveness
  ========================================================================== */

.au-c-main-container {
  height: calc(100vh - 4.2rem);
}

.au-c-main-container__content.au-c-main-container__content--scroll {
  @include mq($until: small) {
    height: auto;

    .au-c-body-container,
    .au-c-data-table__wrapper,
    .au-o-grid--flush,
    .au-o-grid--fixed,
    .au-o-grid--fixed > .au-o-grid__item {
      height: auto;
      overflow: auto;
    }
  }

  @include mq($from: small) {

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item:first-child {
      padding-bottom: 0
    }

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item + .au-o-grid__item {
      padding-top: 0;
    }

  }
}


/* ==========================================================================
  #TOOLBAR
  Fix wrapping for sidebars and overflowing titles
  TODO create .au-c-toolbar--nowrap in ember-appuniversum
 ========================================================================== */

.au-c-toolbar--nowrap {
  flex-wrap: nowrap;
  align-items: normal;
}

.au-c-toolbar__group > * + * {
  margin-left: 0.5rem;
}
