@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';
@import 'ember-vo-webuniversum';

@import 'print';
@import 'restyle-ember-power-select';
@import 'document-status-pills';

/* ==========================================================================
  Style power select sizes
 ========================================================================== */

.ember-power-select--small .ember-power-select-trigger {
	font-size: 1.4rem;
	height: 3rem;
	line-height: 2;
	padding-left: 0.5rem;
} // remove when webunversum is updated

.ember-power-select-option {
	line-height: 2.2rem;
	padding: 1rem 0 1rem 3rem;
} // remove when webunversum is updated

