/* ==========================================================================
  Print
  Style what printing looks like here.
 ========================================================================== */

@media print {

	@page {
		size: landscape;
	}

	.pill {
		border-right: 1px solid $blue-gray-light;
	}

	.u-wide-on-print {
		max-width: none;
		width: 100%;
	}

	th.u-visible--tablet-landscape-up,
	td.u-visible--tablet-landscape-up,
	th {
		display: table-cell !important;
	}

	.u-hide-on-print,
	th.u-hide-on-print,
	td.u-hide-on-print {
		display: none !important;
	}

	.container,
	.grid,
	.container-flex--contain,
	.container-flex--scroll {
		overflow: visible !important;
		display: block;
		position: static;
		height: auto;
		flex: none;
		flex-direction: unset;
		flex-wrap: unset;
	}
}
