# unconventional js
/blueprints/*/files/

# Ignore .gjs files for now since our linting setup doesn't support them yet
# We'll get that for free once we update to newer Ember versions

# compiled output
/declarations/
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/
