<div>
  <span class="au-c-modal-backdrop is-visible" aria-hidden="true"></span>
  <div class="au-c-modal au-c-modal--fullscreen is-visible" tabindex="-1" role="document">
    <div class="au-c-modal__header">
      <div>
        <p class="au-c-modal__prefix">
        </p>
        <h1 class="au-c-modal__title" tabindex="-1">
          Bewaarde filtersets
        </h1>
      </div>
{{!--       <button type="button" {{on "click" this.closeModal}} class="au-c-modal__close">
        Venster sluiten
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="au-c-icon au-c-icon--right au-c-icon--large">
          <g class="cross">
            <path fill-rule="evenodd" d="M12 13.414l-5.293 5.293-1.414-1.414L10.586 12 5.293 6.707l1.414-1.414L12 10.586l5.293-5.293 1.414 1.414L13.414 12l5.293 5.293-1.414 1.414L12 13.414z" class="Vector" clip-rule="evenodd"/>
          </g>
        </svg>
      </button> --}}
      <a href="/search/submissions" type="button" {{on "click" this.closeModal}} class="au-c-modal__close">
        Venster sluiten
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="au-c-icon au-c-icon--right au-c-icon--large">
          <g class="cross">
            <path fill-rule="evenodd" d="M12 13.414l-5.293 5.293-1.414-1.414L10.586 12 5.293 6.707l1.414-1.414L12 10.586l5.293-5.293 1.414 1.414L13.414 12l5.293 5.293-1.414 1.414L12 13.414z" class="Vector" clip-rule="evenodd"/>
          </g>
        </svg>
      </a>
      {{!--       FOR DEV: This should be a button! Thanks   --}}
    </div>
    <div class="au-c-modal__body">

      <table class="data-table">
        <thead>
          <tr>
            <th>Naam&nbsp;filterset</th>
            <th>Beschrijving</th>
            <th>Datum&nbsp;aangemaakt</th>
            <th style="width:45rem;">
              <p class="au-u-text-right">
                <a href="/filters-table/filter-save" class="au-c-button">
                  Maak nieuwe filterset
                </a>

              {{!--       FOR DEV:
              - Only show this row when there are no saved filter sets
              - These should be buttons! Thanks

                <AuButton>
                  Maak nieuwe filterset
                </AuButton> --}}
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4">
              <p class="au-u-text-center">
                Geen bewaarde filtersets.
                <a href="/filters-table/filter-save" class="au-c-button au-c-button--tertiary">
                  Maak nieuwe filterset
                </a>
              </p>

              {{!--       FOR DEV:
              - Only show this row when there are no saved filter sets
              - These should be buttons! Thanks

              <AuButton @skin="tertiary">
                Maak nieuwe filterset
              </AuButton> --}}
            </td>
          </tr>
          <tr>
            <td>
              Rechtspositieregeling met details over een bepaald bestuur
            </td>
            <td>
              Informatie over de filters die gekozen werden, al dan niet automatisch gegenereerd
            </td>
            <td>
              11/06/2020
            </td>
            <td>
              <AuButtonGroup class="au-u-text-right">
                <a href="/search/submissions" class="au-c-button">
                  Laad filterset
                </a>
                <a href="/filters-table/filter-save" class="au-c-button au-c-button--secondary">
                  Bewerk
                </a>
                <AuButton @skin="tertiary" @alert="true">
                  Verwijder
                </AuButton>

                {{!--       FOR DEV: These should be buttons! Thanks

                <AuButton>
                  Laad filterset
                </AuButton>
                <AuButton @skin="secondary">
                  Bewerk
                </AuButton>
                <AuButton @skin="tertiary" @alert="true">
                  Verwijder
                </AuButton> --}}
              </AuButtonGroup>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="au-c-modal__footer">
      <a href="/search/submissions" class="au-c-button au-c-button--secondary">
        Annuleer
      </a>

      {{!--       FOR DEV: These should be buttons! Thanks

      <AuButton @skin="secondary">
        Annuleer
      </AuButton> --}}
    </div>
  </div>
</div>

{{outlet}}
