{{title "Toezicht ABB"}}

<div class="grid grid--collapse">
  <div class="{{if hasActiveChildRoute "col--7-12 u-hidden--tablet-portrait-up u-visible--tablet-landscape-up" "col--12-12"}}">
    <div class="container-flex--contain">
      <div class="data-table__actions u-border--fat--bottom">
        <div class="u-padding--round--tiny">
          <div class="grid">
            <div class="col--6-12 col--1-1--s">
              <h1 class="h2 u-spacer--tiny">Toezicht ABB</h1>
            </div>
          </div>
        </div>
      </div>
      {{toezicht/inzendingen-table class="container-flex--scroll" model=model isLoading=isLoadingModel sort=sort page=page size=size displaySubset=hasActiveChildRoute}}
    </div>
  </div>
  {{outlet}}
</div>