<div class="container">
  <AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="App title" @contactRoute="contact">
    <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
      <AuIcon @icon="logout" @alignment="left" /> Afmelden
    </AcmidmLogout>
  </AuMainHeader>

  <div class="container-flex--contain">
    {{outlet}}
  </div>
</div>
