{{wu-widget src=header class="vo-header-widget"}}
<div class="container-flex--scroll">
	<div class="page">
	  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
	    <header class="content-header content-header--small content-header--half-image u-spacer">
	      <div class="content-header__wrapper">
	        <picture class="content-header__bg"><img sizes="50vw" src="/assets/images/inzendingen-header-1600.jpg" srcset="/assets/images/inzendingen-header-320.jpg 320w, /assets/images/inzendingen-header-1024.jpg 1024w, /assets/images/inzendingen-header-1600.jpg 1600w" alt="" title=""></picture>
	        <div class="layout layout--wide">
	          <div class="content-header__content">
	            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Vlaanderen</span><span class="content-header__entity-logo__title">is lokaal bestuur</span></a></div>
	          </div>
	        </div>
	      </div>
	    </header>

	    <section class="region">
	      <div class="layout layout--wide">
	        <h1 class="h1">Toezicht ABB</h1>
	        <div class="grid">
	          <div class="col--1-1--s col--6-12--m col--6-12">
	            <p class="u-spacer">Dit is de interne besluitendatabank voor medewerkers van het Agentschap Binnenlands Bestuur. Via deze databank zijn alle besluiten terug te vinden die door de lokale besturen gemeld of ingezonden werden via het Loket voor Lokale Besturen. Meer info over dit loket vind je op volgende pagina: <a href="https://mijnabb.be/ondersteuning/module-toezicht" target="_blank">https://mijnabb.be/ondersteuning/module-toezicht</a></p>
              <p class="u-spacer">Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet, contacteer <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">gebruikersbeheer Vlaanderen</a>.</p>
              <p>Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.</p>
	          </div>
	          <div class="col--1-1--s col--6-12--m col--4-12 push--1-12--l">
              {{acmidm-login}}
	          </div>
	        </div>
	      </div>
	    </section>

	  </div>
	  {{wu-widget src=footer}}
	</div>
</div>
